# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
.cache/
.temp/

# Env
.env
.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log
